<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="product-list">
      <ion-icon name="cart"></ion-icon>
      Cart
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      Profile
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="qr-code-outline"></ion-icon>
      QR Scan
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>